In [1]:
import pandas as pd
df = pd.read_csv('owid-covid-data.csv', low_memory=False)

num_rows = df.shape[0]  # Number of rows
num_cols = df.shape[1]  # Number of columns

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 311365
Number of columns: 67

In [2]:
print("head: \n", df.head(10))
print("tail: \n", df.tail())

head:
   iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-01-03          NaN        0.0
1      AFG      Asia  Afghanistan  2020-01-04          NaN        0.0
2      AFG      Asia  Afghanistan  2020-01-05          NaN        0.0
3      AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
4      AFG      Asia  Afghanistan  2020-01-07          NaN        0.0
5      AFG      Asia  Afghanistan  2020-01-08          NaN        0.0
6      AFG      Asia  Afghanistan  2020-01-09          NaN        0.0
7      AFG      Asia  Afghanistan  2020-01-10          NaN        0.0
8      AFG      Asia  Afghanistan  2020-01-11          NaN        0.0
9      AFG      Asia  Afghanistan  2020-01-12          NaN        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         0.0                  NaN  ...
1                 NaN           NaN         0.0                  NaN  ...
2                 NaN           NaN         0.0                  NaN  ...
3                 NaN           NaN         0.0                  NaN  ...
4                 NaN           NaN         0.0                  NaN  ...
5                 0.0           NaN         0.0                  0.0  ...
6                 0.0           NaN         0.0                  0.0  ...
7                 0.0           NaN         0.0                  0.0  ...
8                 0.0           NaN         0.0                  0.0  ...
9                 0.0           NaN         0.0                  0.0  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5
5           NaN                  37.746                         0.5
6           NaN                  37.746                         0.5
7           NaN                  37.746                         0.5
8           NaN                  37.746                         0.5
9           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
0            64.83                    0.511  41128772.0
1            64.83                    0.511  41128772.0
2            64.83                    0.511  41128772.0
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0
5            64.83                    0.511  41128772.0
6            64.83                    0.511  41128772.0
7            64.83                    0.511  41128772.0
8            64.83                    0.511  41128772.0
9            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN
5                                   NaN                          NaN
6                                   NaN                          NaN
7                                   NaN                          NaN
8                                   NaN                          NaN
9                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN
5               NaN                                      NaN
6               NaN                                      NaN
7               NaN                                      NaN
8               NaN                                      NaN
9               NaN                                      NaN

[10 rows x 67 columns]
tail:
        iso_code continent  location        date  total_cases  new_cases  \
311360      ZWE    Africa  Zimbabwe  2023-05-13     264821.0        5.0
311361      ZWE    Africa  Zimbabwe  2023-05-14     264841.0       20.0
311362      ZWE    Africa  Zimbabwe  2023-05-15     264848.0        7.0
311363      ZWE    Africa  Zimbabwe  2023-05-16     264848.0        0.0
311364      ZWE    Africa  Zimbabwe  2023-05-17     264848.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
311360              10.286        5690.0         1.0                0.429
311361              10.714        5690.0         0.0                0.429
311362              10.286        5690.0         0.0                0.286
311363               9.429        5690.0         0.0                0.286
311364               8.143        5690.0         0.0                0.143

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
311360  ...          30.7                  36.791                         1.7
311361  ...          30.7                  36.791                         1.7
311362  ...          30.7                  36.791                         1.7
311363  ...          30.7                  36.791                         1.7
311364  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
311360            61.49                    0.571  16320539.0
311361            61.49                    0.571  16320539.0
311362            61.49                    0.571  16320539.0
311363            61.49                    0.571  16320539.0
311364            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
311360                                   NaN                          NaN
311361                                   NaN                          NaN
311362                                   NaN                          NaN
311363                                   NaN                          NaN
311364                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
311360               NaN                                      NaN
311361               NaN                                      NaN
311362               NaN                                      NaN
311363               NaN                                      NaN
311364               NaN                                      NaN

[5 rows x 67 columns]

In [3]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.753350e+05,3.026550e+05,3.013910e+05,2.546350e+05,302735.000000,301505.000000,275335.000000,302655.000000,301391.000000,254635.000000,...,178515.000000,118181.000000,212983.000000,286344.000000,233879.000000,3.113650e+05,1.066900e+04,10669.000000,10669.000000,10669.000000
mean,5.767156e+06,1.073397e+04,1.077678e+04,8.061661e+04,95.740952,96.103652,88010.375666,161.890445,162.525589,811.194069,...,32.909877,50.790203,3.097164,73.717755,0.722480,1.281151e+08,4.739668e+04,9.538903,12.633550,1477.149682
std,3.600088e+07,1.030085e+05,1.002455e+05,4.164645e+05,600.706338,591.334247,138439.520139,1127.171598,634.547240,1053.772688,...,13.574397,31.957386,2.548455,7.397226,0.148991,6.596962e+08,1.384241e+05,12.914011,26.344219,1840.907839
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,6.565000e+03,0.000000e+00,1.143000e+00,1.210000e+02,0.000000,0.000000,2039.082000,0.000000,0.246000,50.398500,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,2.780000e+01,0.560000,-1.200000,24.645111
50%,6.239700e+04,1.700000e+01,3.771400e+01,1.230000e+03,0.000000,0.286000,20898.389000,2.396000,10.664000,338.621000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.530999e+03,7.750000,6.490000,900.418500
75%,6.419815e+05,5.230000e+02,6.310000e+02,1.064800e+04,6.000000,6.714000,107810.942500,68.501000,103.445000,1246.603000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.159700e+04,15.360000,18.070000,2399.257000
max,7.664400e+08,7.460822e+06,6.410667e+06,6.932578e+06,20027.000000,14677.857000,737554.506000,228872.025000,37241.781000,6476.319000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,377.300000,10291.122000

In [4]:
df = df.drop(columns= ['new_deaths_smoothed', 'new_cases_per_million', 'total_cases_per_million'])

In [5]:
df = df.rename(columns={'date': 'Date', 'location': 'Country', 'continent': 'Continent', 'iso_code': 'ISO_code'})

In [6]:
print(df['Continent'].unique().tolist())

['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America', 'South America']

In [7]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='constant')
df2 = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
df.head()
df2.head()

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
1,AFG,Asia,Afghanistan,2020-01-04,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
2,AFG,Asia,Afghanistan,2020-01-05,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
3,AFG,Asia,Afghanistan,2020-01-06,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
4,AFG,Asia,Afghanistan,2020-01-07,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value

In [8]:
df3 = df2.groupby(['Date','Country',])[['Date','Country','total_cases','total_deaths','total_vaccinations']].sum().reset_index()
# it results an error! ValueError: cannot insert Country, already exists

ValueError: cannot insert Country, already exists

In [9]:
columns_to_replace = ['total_cases', 'total_deaths', 'total_vaccinations']
df2[columns_to_replace] = df2[columns_to_replace].replace('missing_value', 0)

df3 = df2.groupby(['Date', 'Country'])[['total_cases', 'total_deaths', 'total_vaccinations']].sum().reset_index()
df3.tail(10)

,Date,Country,total_cases,total_deaths,total_vaccinations
311355,2023-05-18,Kyrgyzstan,0.0,0.0,3.494746e+06
311356,2023-05-18,Lithuania,0.0,0.0,4.545941e+06
311357,2023-05-18,Lower middle income,0.0,0.0,4.857395e+09
311358,2023-05-18,Malaysia,0.0,0.0,7.262327e+07
311359,2023-05-18,Serbia,0.0,0.0,0.000000e+00
311360,2023-05-18,South America,0.0,0.0,9.570209e+08
311361,2023-05-18,South Korea,0.0,0.0,0.000000e+00
311362,2023-05-18,Upper middle income,0.0,0.0,5.415546e+09
311363,2023-05-18,Uruguay,0.0,0.0,9.021046e+06
311364,2023-05-18,World,0.0,0.0,1.338189e+10

In [11]:
print(df3[df3['total_deaths'] > 1000000]['Country'].nunique())

10

In [12]:
print(df3[df3['total_deaths'] > 1000000]['Date'].nunique())

981